*.pyc
*.aux
*.log
*.out
*.synctex.gz
*.suo
*__pycache__
*.idea
*.ipynb_checkpoints
*.pickle
*.npy
*.blg
*.bbl
*.bcf
*.toc
*.wav
*.sh
encoder/saved_models/*
synthesizer/saved_models/*
vocoder/saved_models/*
datasets_root/*

.vscode/settings.json
unaligned.txt
taco_pretrained/checkpoint
taco_pretrained/tacotron_model.ckpt-280600.data-00000-of-00001
taco_pretrained/tacotron_model.ckpt-280600.index
taco_pretrained/tacotron_model.ckpt-280600.meta
env.txt
